/* src/components/Content.css */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  h1 {
    font-size: 2rem;
  }
  